// boucheron_mobile.scss

@media screen and (max-width:767px){

  #headBox{position:relative; 
           width:100%; height:100px; 
    h1{position:absolute; 
       top:50%; left:50%; 
       margin-left:-90px; 
       margin-top:-15px; 
       width:180px; height:30px; 
       background-image:url($url+'logo.png');
       background-repeat:no-repeat;
       background-position:50% 50%;
       background-size:contain;}
    div{position:absolute;
        margin-left:30px;
        margin-top:35px;
        width:30px; height:30px; 
        background-image:url($url+'menu.png');
        background-repeat:no-repeat;
        background-position:50% 50%;
        background-size:cover;}
    
    .navigation{display:none;}
    .sub_nav{display:none;}

  }//headBox


  #viewBox{position:relative;
           width:100%; height:650px;
           background-image:url($url+'ad_01.jpg');
           background-repeat:no-repeat;
           background-position:50% 50%;
           background-size:cover;
   .textbox{position: absolute; bottom:0;
            width:100%; height:25%; 
            background-color:#000;
            background-color:rgba(0,0,0,0.7);
      p{margin-top:36px; 
        margin-bottom:12px;
        box-sizing:border-box; 
        text-align:center;
        font-size:27px; color:#fff; 
        text-transform:uppercase;}
      .s_box{width:130px; height:22px; 
             margin:0 auto;
             background-color:#5b5b5b;
             text-align:center; line-height:25px;
             color:#fff; font-size:1rem;
             border-radius: 20px;
         a{display:block; color:inherit; 
           width:100%; height:100%;}
      }//s_box

      .slide>ul{margin:22px auto; 
                width:65px; height:10px;
         li{float:left; width:10px; height:10px; 
            background-color: #5b5b5b; 
            border-radius:50%;
            margin-right:8px;
            &:nth-of-type(4){margin-right:0;}
            &:nth-of-type(1){background-color:#d1cdc9;}
            a{display:block; width:100%; height:100%;}
         }//li
      }//ul
   }//textbox
  }//viewBox


  #conBox{position:relative;
          width:100%; height:650px; 

    .box_one{position:absolute;
       left:50%; top:50%;
       transform:translate(-50%,-50%);
       width:420px; height:440px; 

      ul{width:100%; height:100%;
         margin-right:20px;
        li{float:left;
           width:200px; height:210px; 
           margin-right:20px;
           margin-bottom:20px;
           &:nth-of-type(1){display:none;}
           &:nth-of-type(3),
           &:nth-of-type(5){margin-right:0;}
           &:nth-of-type(4),
           &:nth-of-type(5){margin-bottom:0;}

           &:nth-child(2){
            background-image:url($url+'con_01.png');
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size:cover;}
           
           &:nth-child(5){
            background-image:url($url+'con_02.png');
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size:cover;}

           dl{padding:40px 15px 0 20px; 
              box-sizing:border-box;
              width:100%; height:100%;
              
           dt{font-size:1rem;
              text-transform:none;
              letter-spacing :0.3px;
              font-weight:500;}
           dd{margin-top:25px; 
              font-size:0.75rem;
              line-height:22px;
              letter-spacing :0.3px;
              word-break:keep-all;}
           }//dl

         a{display:block; width:100%; height:100%;}
         span{display:none;}

        }//li
      }//ul
    }//box_one
  }//conBox


  #conBox2{position:relative; 
           width:100%; height:1080px;

   dl{padding:25px 165px 0 165px; 
      box-sizing:border-box; 
      width:100%; height:100px; 
         dt{width:100%; height:30px;
            font-size:1rem;
            font-weight:500;
            text-align:center;
            letter-spacing :0.3px;}
         dd{margin-top:14px; 
            width:100%; height:24px; 
            font-size:11px;
            line-height:13px;
            text-align:center;
            letter-spacing :0.3px;}
   }//dl

   .imgbox{position:absolute; 
           left:50%; top:52%;
           transform:translate(-50%,-50%);
           width:420px; height:830px;

      ul{width:100%; height:100%;
         li{float:left; width:49%; height:195px; 
            margin-right:2%; margin-bottom:8.4px;
            &:nth-of-type(2){margin-right:0;}
            &:nth-of-type(5){margin-top:-203.4px;}
            &:nth-of-type(4){margin-right:0; height:400px;}
            &:nth-of-type(6){margin-right:0; margin-bottom:0; width:100%;}
            
            &:nth-of-type(1){
               background-image:url($url+'img_01.jpg');
               background-repeat:no-repeat;
               background-position:50% 50%;
               background-size:cover;}

            &:nth-of-type(2){
               background-image:url($url+'img_02.jpg');
               background-repeat:no-repeat;
               background-position:50% 50%;
               background-size:cover;}

            &:nth-of-type(3){
               background-image:url($url+'img_03.jpg');
               background-repeat:no-repeat;
               background-position:50% 50%;
               background-size:cover;}

            &:nth-of-type(4){
               background-image:url($url+'img_04.jpg');
               background-repeat:no-repeat;
               background-position:50% 50%;
               background-size:cover;}

            &:nth-of-type(5){
               background-image:url($url+'img_05.jpg');
               background-repeat:no-repeat;
               background-position:50% 50%;
               background-size:cover;}

            &:nth-of-type(6){
               background-image:url($url+'img_06.jpg');
               background-repeat:no-repeat;
               background-position:50% 50%;
               background-size:cover;}

            a{display:block; width:100%; height:100%;}
         }//li
      }//ul
   }//imgbox
  }//conBox2
  
  
  #conBox3{display:none;}


  #footBox{position:relative; 
           width:100%; height:440px; 
           background-color:#404040;
   .social{position:absolute; margin-top:60px; 
           width:100%; height:30px;
      ul{margin:auto; width:230px; height:100%;
         li{float:left; width:30px; height:100%; 
            background-color:#12f; 
            border-radius:50%; 
            margin-right:20px;
            &:last-child{margin-right:0;}
      }//li
   }//ul
}//social

   .footer_nav{position:absolute; margin-top:90px; 
               width:100%; height:305px;
   .fnav_wrap{width:300px; height:5px; margin:auto;
      ul{margin:auto; margin-bottom:20px;
         width:100%; height:100%; 
   
         li{margin-top:35px; text-align:center; 
            font-size:12px; color:#BFBFBF; 
            letter-spacing :0.3px;
         
            dl>dt{margin:auto; 
               width:70px; height:40px; 
               text-align: center; line-height: 40px;}
            dl>dd{display:none;}
            a{display:block; width:100%; height:100%; color:inherit;}   
      }//li
   }//ul
  }//fnav_wrap
 }//footer_nav
}//footBox

  
}//미디어쿼리